.form{
    display: flex;
    align-items: center;
    flex-direction: column;}
.form .email{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}
.form h2{
    color: var(--LetterColor);
    font-weight: lighter;
    font-size: 2em;
    text-align: center;
    padding-bottom: 32px;
}
.form input{
    background-color: var(--DarkBackGroundColor);
    border: 1px solid var(--SecondaryColor);
    width: 100%;
    height: 40px;
    color: var(--LetterColor);

}
.form textarea{
    background-color: var(--DarkBackGroundColor);
    color: var(--LetterColor);
    border: 1px solid var(--SecondaryColor);
    display: block;
    text-align: start;
    width: 99.5%;
    height: 300px;
    resize: none;    
}
.form .CustomButon{
    align-items: center;
}

.form-container{
    width: 50%;
    height: auto;
    border: 1px solid var(--SecondaryColor);
    border-radius: 0px 0px 100% 100%;
    background-color: #00c3ff4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.7%;
    z-index: 1;
}

.BGEffect{
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: 64px;

}
.BGSpan{
    width: 20%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
  
.BGSpan2{
    width: 20%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.BGLine{
    height: 1.5px;
    width: 60%;
    background-color: var(--SecondaryColor);
}
.BGLine2{
    height: 2px;
    width: 100%;
    background-color: var(--SecondaryColor);
}

@media (max-width: 1024px){
    .form-container{
        width: 82.5%;
        border-radius: 0px 0px 50% 50%;
        padding-bottom: 2%;
    }
    .BGSpan , .BGSpan2{
        display: none;
    }


}
@media (max-widht: 650px){
    .form-container{
        width: 90%;
        border-radius: 0px 0px 50% 50%;
    }

}
@media (max-width: 430px){

}