#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-appearance: none;

  

  --BackGroundColor: #242424;
  --LetterColor: #ffffff;
  --SecondaryColor: #06C3FF;
  --DarkBackGroundColor: #191919;
}

body{
  background-color: var(--BackGroundColor);
}

.reveal {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  transition: opacity 0.8s, transform 0.8s;
}

.reveal_visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
