#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-appearance: none;

  

  --BackGroundColor: #242424;
  --LetterColor: #ffffff;
  --SecondaryColor: #06C3FF;
  --DarkBackGroundColor: #191919;
}

body{
  background-color: var(--BackGroundColor);
}


